<% content_for :locale do %><span class="locale"><%= @locale.name %></span>
<% end %>

<h3><%= link_to 'Missing translations', @locale %> | Existing translations</h3>

<% if @phrases.any? %>
  <table class="translations">
    <tr>
      <th class="key"><%= Tolk::Locale.primary_language_name -%></th>
      <th class="hint"><%= @locale.language_name -%></th>
    </tr>
    <% form_for @locale do |locale_form| %>
      <% @phrases.each do |phrase| %>
        <tr>
          <td class="phrase">
            <%=h phrase.translations.primary.text -%>
          </td>

          <td class="translation">
            <%= hidden_field_tag :"translations][][id]", phrase.translation.id %>
            <%= hidden_field_tag :"translations][][locale_id]", phrase.translation.locale_id %>
            <%= text_area_tag :"translations][][text]", phrase.translation.text, :class => 'locale' %>
            <span class="key"><%= phrase.key %></spa
          </td>
        </tr>
      <% end %>

      <%= locale_form.submit "Update all" %>
    <% end %>

  </table>

  <%= will_paginate @phrases %>
<% else %>
  No translations found
<% end %>