<% content_for :locale do %><span class="locale"><%= @locale.language_name %></span>
<% end %>

<h3 class="switch">Completed translations <span>(<%= link_to 'See phrases missing translation', @locale %>)</span></h3>

<% if @locale.has_updated_translations? && action_name != 'updated' %>
  <span class="notice">Some phrases have changed. <%= link_to "Update translations", updated_tolk_locale_path(@locale) %>.</span>
<% end %>

<div class="translations">
<% if @phrases.any? %>
  <% form_for @locale do |locale_form| %>
        <table class="translations">
      <tr>
        <th class="key"><%= Tolk::Locale.primary_language_name -%></th>
        <th class="hint"><%= @locale.language_name -%></th>
      </tr>
      <% @phrases.each do |phrase| %>
        <tr>
          <td class="phrase">

            <% if action_name == 'updated' %>
              <div class="updated">
                <span class="key">Updated</span>
                <%=h phrase.translations.primary.text -%>
              </div>
              <div class="original">
                <span class="key">Original</span>
                <%=h phrase.translations.primary.previous_text -%>
              </div>
            <% else %>
              <%=h phrase.translations.primary.text -%>
            <% end %>

            <span class="key"><%= phrase.key %></span>
          </td>

          <td class="translation">
            <%= hidden_field_tag :"translations[][id]", phrase.translation.id %>
            <%= hidden_field_tag :"translations[][locale_id]", phrase.translation.locale_id %>
            <%= text_area_tag :"translations[][text]", phrase.translation.text, :class => 'locale', :onfocus => "$(this).up('tr').addClassName('active');", :onblur => "$(this).up('tr').removeClassName('active');" %>
          </td>
        </tr>
      <% end %>
    </table>
    <div class="table_submit">
      <p><%= locale_form.submit "Save changes" %></p>
    </div>
    <div class="paginate">
      <%= will_paginate @phrases %>
    </div>
  <% end %>
<% else %>
  <p style="text-align: left">There aren't any completed translations for this locale.</p>
  <p>&nbsp;</p>
<% end %>
</div>

