<% content_for :head do %>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="<%= tolk.locale_path(@locale, format: 'atom') -%>" />
<% end %>

<%= render 'tolk/nav' %>

<% if @locale.has_updated_translations? && action_name != 'updated_translations' %>
  <div class="notice">
    ⚠ Some phrases have changed. <%= link_to "Update translations", tolk.updated_translations_locale_path(@locale) %>.
  </div>
<% end %>

<div class="search">
  <%= render partial: "tolk/searches/form", locals: { locale: @locale } %>
</div>

<%= render partial: 'tolk/locales/flash_messages' %>

<% if @phrases.any? %>
  <div class="translations">
    <%= form_for @locale do |locale_form| %>
      <input type="hidden" name="form_name" value="<%= params[:form_name].presence || 'incomplete_translations' %>" />

      <table class="translations">
        <thead>
          <tr>
            <th><%= @locale.language_name -%></th>
            <th class="actions"></th>
            <th><%= Tolk::Locale.primary_language_name -%></th>
          </tr>
        </thead>

        <tbody>
          <% @phrases.each do |phrase| %>
            <tr>
              <% translation = phrase.translations.for(@locale) || Tolk::Translation.new(locale: @locale, phrase: phrase) %>

              <% if action_name == "update" %>
                <% translations_attributes = params.dig(:tolk_locale, :translations_attributes) %>
                <% if translations_attributes %>
                  <% found = translations_attributes.to_unsafe_h.values.detect{|x| x["phrase_id"] == translation.phrase_id.to_s && x["locale_id"] == translation.locale_id.to_s} %>
                  <% if found %>
                    <% translation.text = found["text"] %>
                  <% end %>
                <% end %>
              <% end %>

              <td class="translation">
                <% if !translation.new_record? %>
                  <%= hidden_field_tag "tolk_locale[translations_attributes][#{translation.object_id}][id]", translation.id, id: "#{translation.object_id}_id" %>
                <% end %>

                <%= hidden_field_tag "tolk_locale[translations_attributes][#{translation.object_id}][phrase_id]", phrase.id, id: "#{translation.object_id}_phrase_id" %>

                <%= hidden_field_tag "tolk_locale[translations_attributes][#{translation.object_id}][locale_id]", translation.locale_id, id: "#{translation.object_id}_locale_id" %>

                <%= text_area_tag "tolk_locale[translations_attributes][#{translation.object_id}][text]", format_i18n_text_area_value(translation.text), class: "locale", id: "#{translation.object_id}_text" %>
              </td>

              <td class="actions">
                <a class="copy" href="#" tabindex="-1" title="Copy original translation">&larr;</a><br>
                <span class="warning" title="Interpolation keys don't match">⚠</span>
              </td>

              <td class="original">
                <%= text_area_tag "tolk_locale[translations_attributes][#{translation.object_id}][original_text]", format_i18n_text_area_value(phrase.translations.primary.text), disabled: true %>

                <% if params[:q].present? -%>
                  <%= highlight(format_i18n_value(phrase.translations.primary.text), params[:q]) -%>
                <% else -%>
                  <%= format_i18n_value(phrase.translations.primary.text) -%>
                <% end -%>

                <%= boolean_warning if phrase.translations.primary.boolean? -%>

                <span class="translation-key" title="<%= phrase.key %>"><%= truncate(phrase.key, length: 100) %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="table_submit">
        <%= tolk_paginate @phrases %>

        <p>
          <%= locale_form.submit "Save changes", class: 'save-translations btn btn--large' %>
          <%= link_to "Cancel", request.path, class: 'cancel-translations btn btn--large' %>
        </p>
      </div>
    <% end %>
  </div>

<% else %>
  <div class="empty-state">
    <%= render 'tolk/houra.svg' %>

    <p class="empty-state__msg">
      <% if @locale.has_updated_translations? %>
        There aren't any missing phrases that need translation.
      <% else %>
        There aren't any missing or updated phrases that need translation.
      <% end %>
    </p>
  </div>
<% end %>
