<% content_for :locale do %><span class="locale">Locales</span>
<% end %>

<ul class="locales clearfix">
  <% @locales.each do |locale| %>
    <li>
      <%= link_to locale.name, locale %><%= " <span>(primary)</span>" if locale.primary? %>
    </li>
  <% end %>
</ul>

<% form_for(Tolk::Locale.new) do |f| %>
<div class="add_locale">
  <%= f.error_messages %>
  <p>
    <%= f.label "Add a new Locale" %>
    <%= f.text_field :name, :class => "locale_new" %>
    <%= f.submit 'Add' %>
  </p>
</div>
<% end %>
