<% content_for :locale do %><span class="locale"><%= @locale.name %></span>
<% end %>

<h3>Missing translations | <%= link_to 'Existing translations', all_tolk_locale_path(@locale) %></h3>

<% if @phrases.any? %>
  <%# <span class="updated">The primary language has been updated for this phrase</span>%>
  <table class="translations missing">
    <tr>
      <th class="key"><%= Tolk::Locale.primary_language_name -%></th>
      <th class="translation"><%= @locale.language_name -%></th>
    </tr>
    <% form_for @locale do |locale_form| %>
      <% @phrases.each do |phrase| %>
        <tr>
          <td class="phrase">
            <%=h phrase.translations.primary.text -%>
          </td>

          <% translation = Tolk::Translation.new(:locale => @locale, :phrase => phrase) %>
          <td class="translation">
            <%= hidden_field_tag :"translations[][id]", translation.id, :id => "#{translation.object_id}_id" %>
            <%= hidden_field_tag :"translations[][phrase_id]", phrase.id, :id => "#{translation.object_id}_phrase_id" %>
            <%= hidden_field_tag :"translations[][locale_id]", translation.locale_id, :id => "#{translation.object_id}_locale_id" %>
            <%= text_area_tag :"translations[][text]", translation.text, :class => "locale", :id => "#{translation.object_id}_text" %>
            <span class="key"><%= phrase.key %></spa
          </td>

        </tr>
      <% end %>

      <%= locale_form.submit "Update all" %>
    <% end %>
  </table>

  <%= will_paginate @phrases %>
<% else %>
  No missing translations found
<% end %>
