<% content_for :locale do %><span class="locale"><%= @locale.name %></span>
<% end %>

<h3>Missing translations | <%= link_to 'Existing translations', all_tolk_locale_path(@locale) %></h3>

<% phrases_without_translation = @locale.phrases_without_translation %>
<% if phrases_without_translation.any? %>
  <%# <span class="updated">The primary language has been updated for this phrase</span>%>
  <table class="translations missing">
    <tr>
      <th class="key"><%= Tolk::Locale.primary_language_name -%></th>
      <th class="translation"><%= @locale.language_name -%></th>
    </tr>
    <% for phrase in phrases_without_translation %>
      <tr>
        <td class="phrase">
          <%= phrase.translations.primary.text -%>
        </td>
        <td class="translation">
          <% form_for(Tolk::Translation.new(:locale => @locale, :phrase => phrase)) do |f| %>
            <%= f.hidden_field :locale_id %>
            <%= f.hidden_field :phrase_id %>

            <%= f.text_area :text, :class => "locale" %>
            <%= f.submit "Update" %>
            <span class="key"><%= phrase.key %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  No translations found
<% end %>
