<% content_for :locale do %><span class="locale"><%= @locale.name %></span>
<% end %>

<% phrases_without_translation = @locale.phrases_without_translation %>
<% if phrases_without_translation.any? %>
  <h3>
    <%# <span class="updated">The primary language has been updated for this phrase</span>%>
     Missing translations</h3>
  <table class="translations missing">
    <tr>
      <th class="key"><%= Tolk::Locale.primary_language_name -%></th>
      <th class="translation"><%= @locale.language_name -%></th>
    </tr>
    <% for phrase in phrases_without_translation %>
      <tr>
        <td class="phrase">
          <%= phrase.translations.primary.text -%>
        </td>
        <td class="translation">
          <% form_for(Tolk::Translation.new(:locale => @locale, :phrase => phrase)) do |f| %>
            <%= f.hidden_field :locale_id %>
            <%= f.hidden_field :phrase_id %>

            <%= f.text_area :text, :class => "locale" %>
            <%= f.submit "Update" %>
            <span class="key"><%= phrase.key %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<h3>Existing translations</h3>

<table class="translations">
  <tr>
    <th class="key"><%= Tolk::Locale.primary_language_name -%></th>
    <th class="translation">Translation</th>
    <th class="hint"><%= @locale.language_name -%></th>
  </tr>
  <% for phrase in @locale.phrases_with_translation %>
    <tr>
      <td class="phrase">
        <%= phrase.translations.primary.text -%>
      </td>
      <td class="translation">
        <% remote_form_for(phrase.translation) do |f| %>
          <%= f.hidden_field :locale_id %>
          <%= f.text_field :text %>
          <%= f.submit "Update" %>
          <span class="key"><%= phrase.key %></spa
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
