<% content_for :locale do %><span class="locale"><%= @locale.language_name %></span>
<% end %>

<h3 class="switch">Phrases missing translation <span>(<%= link_to 'See completed translations', all_tolk_locale_path(@locale) %>)</span></h3>
<%# show when there are updated phrases for this locale %>
  <span class="notice">Some phrases have changed. <%= link_to "Update translations" %>.</span>
<%# end %>
<div class="translations">
  <% if @phrases.any? %>
     <% form_for @locale do |locale_form| %>
      <table class="translations">
        <tr>
          <th class="key"><%= Tolk::Locale.primary_language_name -%></th>
          <th class="translation"><%= @locale.language_name -%></th>
        </tr>
        <% @phrases.each do |phrase| %>
          <tr>
            <td class="phrase">
              <%=h phrase.translations.primary.text -%>
              <span class="key"><%= phrase.key %></span>
            </td>

            <% translation = Tolk::Translation.new(:locale => @locale, :phrase => phrase) %>
            <td class="translation">
              <%= hidden_field_tag :"translations[][id]", translation.id, :id => "#{translation.object_id}_id" %>
              <%= hidden_field_tag :"translations[][phrase_id]", phrase.id, :id => "#{translation.object_id}_phrase_id" %>
              <%= hidden_field_tag :"translations[][locale_id]", translation.locale_id, :id => "#{translation.object_id}_locale_id" %>
              <%= text_area_tag :"translations[][text]", translation.text, :class => "locale", :id => "#{translation.object_id}_text", :onfocus => "$(this).up('tr').addClassName('active');", :onblur => "$(this).up('tr').removeClassName('active');" %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="table_submit">
        <p><%= locale_form.submit "Save changes" %></p>
      </div>
    <% end %>
    <div class="paginate">
      <%= will_paginate @phrases %>
    </div>
  <% else %>
    <p style="text-align: left">There aren't any missing or updated phrases that need translation.</p>
    <p>&nbsp;</p>
  <% end %>
</div>
