<h1><%= @locale.name %></h1>

<% if @locale.phrases_without_translation.any? %>
  <h2>Missing translations</h2>

  <table>
    <tr><th>Phrase</th><th>Translation</th><th>Hint</th></tr>
    <% for phrase in @locale.phrases_without_translation %>
      <tr>
        <td>
          <%= phrase.key %>
        </td>
        <td>
          <% form_for([:tolk, Translation.new(:locale => @locale, :phrase => phrase)]) do |f| %>
            <%= f.hidden_field :locale_id %>
            <%= f.hidden_field :phrase_id %>

            <%= f.text_field :text %>
            <%= f.submit "Update" %>
          <% end %>
        </td>
        <td>
          <%= phrase.translations.primary.text -%>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<h2>Existing translations</h2>

<table>
  <tr><th>Phrase</th><th>Translation</th><th>Hint</th></tr>
  <% for phrase in @locale.phrases_with_translation %>
    <tr>
      <td>
        <%= phrase.key %>
      </td>
      <td>
        <% remote_form_for([:tolk, phrase.translation]) do |f| %>
          <%= f.hidden_field :locale_id %>
          <%= f.text_field :text %>
          <%= f.submit "Update" %>
        <% end %>
      </td>
      <td>
        <%= phrase.translations.primary.text -%>
      </td>
    </tr>
  <% end %>
</table>
