<h1><%= @application.name %></h1>

<h2>Locales</h2>

<ul>
<% for locale in @application.locales %>
  <li><%= link_to(locale.name, [@application, locale]) %></li>
<% end %>
</ul>

<% form_for(Locale.new, :url => application_locales_path(@application)) do |f| %>
  <p>
    New locale:<br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to "Dump to YML", dump_application_path(@application), :method => :post %> |
<%= link_to "Phrases", application_phrases_path(@application) %>