<!DOCTYPE html>
<html lang="<%= Tolk::Locale.primary_locale_name %>">

<head>
  <title>Tolk - Rails I18n Translation Editor</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <%= stylesheet_link_tag "tolk/application.css" %>
  <%= yield :head %>
</head>

<body>
  <div class="container">
    <header>
      <h1>
        <%= link_to "Tolk", root_path %>
        &rarr;
        <%= link_to "All Languages", root_path %>
        
        <% if @locale %>
          &rarr;

          <% if @locale.primary? %>
            Primary Locale
          <% else %>
            Secondary Locales
          <% end %>

          &rarr;

          <%= link_to @locale.language_name, locale_path(@locale) %>
        <% end %>
      </h1>

      <% if action_name == 'index' %>
        <%= button_to "Apply Changes", dump_all_locales_path, method: :post, class: "btn btn-large" %>
      <% end %>
    </header>

    <main>
      <% if @locale %>
        <nav>
          <% phrases_without_translation_count = @locale.count_phrases_without_translation %>
          <% current = params[:filter] == 'incomplete' %>

          <a href="<%= edit_locale_path(@locale, filter: "incomplete") %>" <% if current %>class="current"<% end %>>
            Incomplete Translations
            <span class="nav__badge"><%= phrases_without_translation_count %></span>
          </a>

          <% completed_translations_count = Tolk::Phrase.count - phrases_without_translation_count %>
          <% current = params[:filter] == 'completed' %>

          <a href="<%= edit_locale_path(@locale, filter: "completed") %>" <% if current %>class="current"<% end %>>
            Completed Translations
            <span class="nav__badge"><%= completed_translations_count %></span>
          </a>
        </nav>
      <% end %>

      <%= yield %>
    </main>
  </div>

  <%= javascript_include_tag "tolk/application" %>

  <% if content_for?(:script_footer) %>
    <%= yield :script_footer %>
  <% end %>
</body>
</html>
