<!DOCTYPE html>
<html lang="<%= Tolk::Locale.primary_locale_name %>">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Tolk</title>

  <%= stylesheet_link_tag "tolk/application" %>

  <%= yield :head %>
</head>

<body>
  <div id="container">
    <div id="head">
      <h1><span class="home"><%= link_to "Tolk", root_path %></span><% if @locale.present? %><span class="locale"><%= link_to @locale.language_name, locale_path(@locale) %></span><% end %><span class="locale"><%= button_to "Apply Changes", dump_all_locales_path, :method => :post, :class => "apply" %></span></h1>
    </div>
    <%= yield %>
  </div>

  <%= javascript_include_tag "tolk/libraries" %>
  <%= javascript_include_tag "tolk/application" %>
</body>
</html>
